{% extends 'base/lessons-base.html' %}
{% load staticfiles %}

{% block title %}
    课程章节 - 六星在线网
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/common-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
{% endblock %}

{% block four_postion %}章节信息{% endblock %}

{% block course_info %}
    <div class="course-infos">
        <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <div class="hd">
                <h2 class="l">{{ course.name }}</h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta-value"><strong>{{ course.get_degree_display }}</strong></span>
                    <span class="meta">难度</span>
                    <em></em>
                </div>
                <div class="static-item static-time">
                    <span class="meta-value">{{ course.learn_time }}分钟</span>
                    <span class="meta">时长</span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta-value"><strong>{{ course.students }}</strong></span>
                    <span class="meta">学习人数</span>
                    <em></em>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="notice" class="clearfix">
        <div class="l"><strong>课程公告:</strong> <a
                href="javascript:void(0)">{{ course.notices }}</a></div>
    </div>

    <div class="mod-chapters">
        {% for lesson in course.lessons_set.all %}
            <div class="chapter chapter-active">
                <h3>
                    <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                </h3>
                <ul class="video">
                    {% for video in lesson.videos_set.all %}
                        <li>
                            <a target="_blank" href='{% url 'course:video_lesson' course.id lesson.id video.id %}' class="J-media-item studyvideo">{{ video.name }} ({{ video.learn_time }})
                                <i class="study-state"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
